<h1>Edit user</h1>

<form id="edit-user" name="user">
  <div class="field">
    <label for="first_name"> first_name:</label>
    <input type="text" name="first_name" id="first_name" value="<%= first_name %>" >
  </div>

  <div class="field">
    <label for="last_name"> last_name:</label>
    <input type="text" name="last_name" id="last_name" value="<%= last_name %>" >
  </div>

  <div class="field">
    <label for="gender"> gender:</label>
    <input type="text" name="gender" id="gender" value="<%= gender %>" >
  </div>

  <div class="field">
    <label for="email"> email:</label>
    <input type="text" name="email" id="email" value="<%= email %>" >
  </div>

  <div class="field">
    <label for="location_id"> location_id:</label>
    <input type="text" name="location_id" id="location_id" value="<%= location_id %>" >
  </div>

  <div class="field">
    <label for="fb_id"> fb_id:</label>
    <input type="text" name="fb_id" id="fb_id" value="<%= fb_id %>" >
  </div>

  <div class="field">
    <label for="fb_token"> fb_token:</label>
    <input type="text" name="fb_token" id="fb_token" value="<%= fb_token %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update User" />
  </div>

</form>

<a href="#/index">Back</a>