<p>
  <b>First name:</b>
  <%= first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= last_name %>
</p>

<p>
  <b>Gender:</b>
  <%= gender %>
</p>

<p>
  <b>Email:</b>
  <%= email %>
</p>

<p>
  <b>Location:</b>
  <%= location_id %>
</p>

<p>
  <b>Fb:</b>
  <%= fb_id %>
</p>

<p>
  <b>Fb token:</b>
  <%= fb_token %>
</p>


<a href="#/index">Back</a>