<td><%= first_name %></td>
<td><%= last_name %></td>
<td><%= gender %></td>
<td><%= email %></td>
<td><%= location_id %></td>
<td><%= fb_id %></td>
<td><%= fb_token %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>